@model PlataformaUpskill_API.Data.Models.Turma

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Nome</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioAssincronoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioAssincronoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioAssincronoFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioAssincronoFim)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioSincronoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioSincronoInicio)
        </dd>
                        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioSincronoFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioSincronoFim)
        </dd>
                                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoLectivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoLectivo)
        </dd>                        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

